* {
    font-family: 'Schibsted Grotesk', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    
    background-color: blueviolet;
    color: white;

    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 48px;
    font-weight: bold;
}

#search-column {
    height: 500px;
}

#search-button {
    background-color: rgb(40, 62, 110);
    border: none;
}

#previous-city {
    background-color: rgb(199, 199, 199);
    color: black;
    border: none;
}

#todays-weather {
    border: 1px solid black;
    padding: 14px;
}

#five-day-forcast {
    background-color: darkblue;
    color: white;
    padding: 14px;
}